.timeseries-container {
  .timeseries-contentContainer {
    fill: transparentize(darken($base, 3%), 0.5);

    .timeseries-xAxis {
      text {
        font-size: 0.7rem;
        stroke: transparentize($textMuted, 0.75);
        font-family: $display;
      }
    }

    .timeseries-yAxis {
      text {
        font-size: 0.7rem;
        stroke: transparentize($textMuted, 0.75);
        font-family: $display;
      }
    }

    .timeseries-line {
      path {
        fill: transparent;
        stroke: transparentize(lighten($main, 10%), 0.5);
        stroke-width: 2;
      }
    }

    .timeseries-scatter {
      circle {
        fill: transparent;
        stroke: $main;
        stroke-width: 2;
      }
    }
  }
}
